.x-spacing {
  margin: 0 10px;
}

.main-div {
  width: 40vw;
}

.bottom-spacing {
  margin-bottom: 10px;
}

.metric-container {
  display: flex;
  flex-direction: row;
  align-items: center;
  margin: 20px 0;
}

.main-metric-text {
  font-size: 1.3rem;
  opacity: 0;
  transform: translateX(-50px);
  animation: anim 1s 1 cubic-bezier(0.165, 0.84, 0.44, 1) forwards;
}

.metric-bar {
  height: 1.6vh;
  background-color: grey;
  border-radius: 50px;
  transform-origin: left;
  transform: scaleX(0);
  animation: anim 1s .2s 1 cubic-bezier(0.075, 0.82, 0.165, 1) forwards;
}