@keyframes anim {
  to {
    transform: none;
    opacity: 1;
  }
}
@keyframes anim2 {
  to {
    transform: none;
    opacity: 0.75;
  }
}
* {
  margin: 0;
  padding: 0;
}

body #root {
  width: 100vw;
  height: 100vh;
}

.main-text {
  font-size: 1.8rem;
}

.landing-container {
  display: flex;
  height: 100vh;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.logo {
  display: block;
}

.play-button {
  font-size: 2.5rem;
  width: 12rem;
}
.play-button:hover {
  background-color: #e4e4e4;
  cursor: pointer;
}

.main-body {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.p {
  margin: 2.5vh 0;
  max-width: 45ch;
  text-align: center;
  cursor: default;
}

.footer {
  height: 3rem;
  font-size: 1.3rem;
  position: absolute;
  text-align: center;
  bottom: 1vh;
}

.x-spacing {
  margin: 0 10px;
}

.main-div {
  width: 40vw;
}

.bottom-spacing {
  margin-bottom: 10px;
}

.metric-container {
  display: flex;
  flex-direction: row;
  align-items: center;
  margin: 20px 0;
}

.main-metric-text {
  font-size: 1.3rem;
  opacity: 0;
  transform: translateX(-50px);
  animation: anim 1s 1 cubic-bezier(0.165, 0.84, 0.44, 1) forwards;
}

.metric-bar {
  height: 1.6vh;
  background-color: #7bd85f;
  border-radius: 50px;
  transform-origin: left;
  transform: scaleX(0);
  animation: anim 1s 0.2s 1 cubic-bezier(0.075, 0.82, 0.165, 1) forwards;
}

.gen-score-title {
  font-size: 2rem;
  font-weight: bold;
}

#main-title {
  display: flex;
  justify-content: center;
  align-items: center;
}

.score-main-container {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  margin-top: 4vh;
}

.score-statistics {
  margin-bottom: 10vh;
}

.score-body {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  margin-top: 2vh;
}

.score-space {
  margin: 5px 0;
}

.main-score {
  font-size: 4rem;
}

.percent-score {
  font-size: 1.2rem;
}

.para-score {
  font-size: 1.2rem;
}

.disclosure-text {
  font-size: 1.3rem;
}

.tips-container {
  max-width: 49vw;
  margin-top: 6vh;
}

.tip-text {
  font-size: 1.3rem;
  margin: 20px 0;
}

#question {
  position: absolute;
  bottom: 10vh;
  left: 5vw;
  box-sizing: border-box;
  padding: 2%;
  padding-bottom: 4%;
  width: 90vw;
  background-color: #1f1f1f;
  opacity: 0;
  transform: translateY(50px);
  backdrop-filter: blur(10px);
  border-radius: 15px;
  color: white;
  text-align: center;
  padding-top: 1.5em;
  animation: anim2 1s 0.2s 1 cubic-bezier(0.075, 0.82, 0.165, 1) forwards;
}

.outer-question-container {
  display: flex;
  justify-content: center;
  background-position: center center;
  background-repeat: no-repeat;
  height: 100vh;
  width: 100vw;
}

.question-text {
  padding-top: 1.5em;
  border-top: solid white 2px;
  text-align: center;
  width: 60%;
  position: relative;
  left: 20%;
  font-size: 1.1rem;
  font-family: Roboto;
  margin-bottom: 2rem;
}

button.MuiButton-containedPrimary {
  position: absolute;
  bottom: 4%;
  display: block;
  margin-left: 45%;
}

/*# sourceMappingURL=App.css.map */
